@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Inter:wght@400;500;600&family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@import "tailwindcss";

@theme {
  --color-surface-bright: #31394d;
  --color-outline-variant: #464554;
  --color-background: #0b1326;
  --color-outline: #908fa0;
  --color-surface-container-high: #222a3d;
  --color-on-surface: #dae2fd;
  --color-surface-container-low: #131b2e;
  --color-primary: #c0c1ff;
  --color-surface-container: #171f33;
  --color-on-surface-variant: #c7c4d7;
  --color-surface: #0b1326;
  --color-on-background: #dae2fd;
  --color-surface-container-highest: #2d3449;
  --color-surface-container-lowest: #060e20;
  --color-surface-variant: #2d3449;
  --color-secondary: #4cd7f6;
  --color-primary-container: #8083ff;

  --font-h3: "Space Grotesk", sans-serif;
  --font-mono-ui: "Space Grotesk", sans-serif;
  --font-body-sm: "Inter", sans-serif;
  --font-h1: "Space Grotesk", sans-serif;
  --font-body-md: "Inter", sans-serif;
  --font-body-lg: "Inter", sans-serif;
  --font-h2: "Space Grotesk", sans-serif;
  --font-label-caps: "Space Grotesk", sans-serif;

  --spacing-panel-width-sm: 280px;
  --spacing-panel-width-lg: 400px;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #0b1326;
  color: #dae2fd;
  font-family: "Inter", sans-serif;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  display: inline-block;
  white-space: nowrap;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #464554;
  border-radius: 10px;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}